/* Estilos generales */
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input,
.css-wvuepv-MuiInputBase-root-MuiOutlinedInput-root,
.input-MUI__verde .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  font-family: var(--family-poppins) !important;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input:focus,
.css-wvuepv-MuiInputBase-root-MuiOutlinedInput-root:focus {
  outline: auto #6278f7 !important;
}

.css-3dah0e-MuiModal-root-MuiDialog-root {
  z-index: 10001 !important;
}

/* Estilos fondo blanco */
.input-MUI__blanco .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  background-color: white !important;
}

/* Estilos fondo verde */
.input-MUI__verde .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  background-color: #c3f6c0 !important;
}

.input-MUI__verde .css-wvuepv-MuiInputBase-root-MuiOutlinedInput-root {
  background-color: #c3f6c0 !important;
}

.input-MUI__verde .css-1x5jdmq {
  background-color: #c3f6c0 !important;
}