/* Estilos titulo */
.input-MUI label {
  font-family: var(--family-montserrat);
  font-size: 18px;
  font-weight: 600;
  display: block;
  margin-bottom: 8px;
}

/* Estilos generales */
.input-MUI .css-1kkal6p-MuiAutocomplete-root {
  height: 63px;
  box-sizing: border-box;
}

.input-MUI .css-1x5jdmq, .input-MUI .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input, 
.input-MUI .MuiAutocomplete-hasPopupIcon.css-1kkal6p-MuiAutocomplete-root .MuiOutlinedInput-root {
  padding: 20px 24px !important;
  font-family: var(--family-poppins);
}

.input-MUI .css-pzkzrv, .input-MUI .css-bz6wus-MuiInputBase-root-MuiOutlinedInput-root {
  border-radius: 0 !important;
}

/* Color de Fondo */
.input-MUI__fondo-verde .css-1x5jdmq, .input-MUI__fondo-verde .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  background-color: #c3f6c0!important;
}

.input-MUI__fondo-gris .css-1x5jdmq, .input-MUI__fondo-gris .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  background-color: #c7c8ca;
}

.input-MUI__fondo-blanco .css-1kkal6p-MuiAutocomplete-root, .input-MUI__fondo-blanco .MuiAutocomplete-root {
  background-color: white;
}
/* Cursores */
.input-MUI__not-allowed .css-1x5jdmq, .input-MUI__not-allowed .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  cursor: not-allowed;
}