.campo-lectura label {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 600;
  display: block;
  margin-bottom: 8px;
}

.campo-lectura .css-bz6wus-MuiInputBase-root-MuiOutlinedInput-root, .campo-lectura .css-pzkzrv {
  background-color: #c7c8ca;
}

.campo-lectura input {
  cursor: not-allowed;
}