.container-autocompletar {
  margin-bottom: 20px;
  border-radius: none;
}

.titulo-autocompletar {
  font-family: var(--family-montserrat);
  font-size: 18px;
  font-weight: 600;
  display: block;
  margin-bottom: 8px;
}

.MuiAutocomplete-root {
  width: auto;
  background-color: white;
}

.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border-radius: none;
  border-style: none;
  border-width: none;
  border-color: none;
}

.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border-radius: none;
}

.MuiAutocomplete-hasPopupIcon.MuiAutocomplete-hasClearIcon.css-1kkal6p-MuiAutocomplete-root .MuiOutlinedInput-root {
  padding: 12px 24px !important;
}

.css-1glvl0p-MuiButtonBase-root-MuiIconButton-root-MuiAutocomplete-clearIndicator {
  display: none !important;
}