.label-fecha {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 600;
  display: block;
  margin-bottom: 8px;
}

.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
  width: 100%;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 20px 24px !important;
}