/* tabla de alumnos */
.container-alumnos__table {
  display: flex;
  justify-content: center;
}

.tabla-alumnos {
  border-spacing: 0;
}

.tabla-cabecera-administradores tr th {
  border-bottom: 3px solid greenyellow;
  padding: 8px 50px;
  text-align: center;
}

.tabla-cuerpo {
  text-align: center;
}